<section class="flex flex-col gap-x-8 justify-center">
  <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 [&>p>strong]:font-semibold text-pretty">
    <p>
      Meu nome é Santiago, tenho 22 anos e sou oriundo de <span class="text-cyan-100">Montevidéu, Uruguai</span>.
      Comecei na programação com um computador velho que meu pai me deu, e desde então não parei mais.
    </p>

    <p>
      Atualmente estou trabalhando como <strong>engenheiro de software</strong> em um grande player do mercado financeiro
      da tecnologia.
    </p>

    <p>
      Entre meus sucessos destaco que durante o bacharelado de <em class="italic">Engenharia de Software</em>, ajudei
      meus colegas a aprenderem diversos conceitos de desenvolvimento e explorei diversos temas desde algoritmos
      avançados até IA's. Fui recompensado ao final do curso com o prêmio de <strong>Mérito Acadêmico</strong> pelo <em
        class="italic">CREA-SC (Brasil)</em
      >. Adoro o desenvolvimento front-end e back-end, e tenho como objetivo compartilhar o meu conhecimento sobre o
      assunto e desenvolver conteúdo de qualidade.
    </p>
  </div>
</section>
